@import '../../../variables.scss';
 
.container{
    width: 500px;
    height: 150px;
    position: absolute;
    left: 0;
    top: calc(100% + 15px);
    display: flex;
    box-shadow: 0 0 15px black;
    gap: 20px;
    border-radius: 4px;
    background-color: $background;
    overflow: hidden;
    text-decoration: none;
    z-index: 5;

    &:hover{
        *::after{
            left: -15px;
            right: -25px;
        }
    }
}

.image{
    height: 100%;
    width: 200px;
    object-fit: cover;
}

.name{
    margin-top: 10px;
    color: black;
    font-size: 22px;
    position: relative;
    font-weight: 500;
    white-space: collapse;
    
    &::after{
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: calc(100% + 8px);
        background-color: black;
        height: 1px;
        transition: all .2s;
    }
}

.ingr{
    margin-top: 25px;
    color: black;
    font-size: 18px;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        top: calc(100% + 12px);
        background-color: black;
        height: 1px;
        transition: all .2s;
    }
}

.time{
    display: flex;
    font-size: 18px;
    align-items: center;
    margin-top: 25px;
    gap: 15px;
    color: $main-text;
}

.icon{
    height: 24px;
    width: 24px;
}

.empty{
    padding: 15px;
}