@import '../../variables.scss';

.item{
    display: flex;
    gap: 20px;
    width: 630px;
    height: 202px;
    color: #000;
    transition: all .3s;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;

    &:hover{
        color: $secondary;
        background-color: $primary;

        .like{
            color: $secondary;
            
        }
        
        path{
            stroke: $secondary;
        }
    }
}

.info{
    width: 100%;
    padding-right: 50px;
}

.image{
    width: 173px;
    height: 202px;
    object-fit: cover;
    background-color: $primary;
}

.title{
    font-size: 30px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 25px;
    white-space: nowrap;
}

.container{
    position: relative;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;

    &::after{
        content: '';
        position: absolute;
        left: 0;
        right: -15px;
        bottom: -20px;
        height: 1px;
        background-color: #000;
    }
}

.time{
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;

    &::after{
        content: '';
        position: absolute;
        left: -30px;
        width: 1px;
        bottom: -5px;
        top: -5px;
        background-color: #000;
    }
}

.like-icon{
    width: 30px;
    height: 30px;

    path{
        transition: stroke .3s;
    }
}

.time-icon{
    width: 30px;
    height: 30px;

    path{
        transition: stroke .3s;
    }
}

.like{
    display: flex;
    background-color: transparent;
    gap: 10px;
    font-size: 23px;
    align-items: center;
    border: none;
    transition: color .3s;
}
