.authors{
    display: flex;
    flex-direction: column;
    min-width: 1900px;
    max-width: 1920px;
    padding: 0 300px;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
}

.container{
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 60px;
    justify-content: center;
    text-align: center;
    padding-left: 57px;
    padding-right: 96px;
    margin-top: 10px;
    padding-bottom: 43px;
}

.title{
    font-weight: 800;
    font-size: 60px;
    color: #1A162E;
    margin-top: 43px;
}

.item{
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.ranking{
    font-size: 48px;
    color: #1A162E;
    margin-bottom: 60px;
}

.name{
    font-size: 40px;
    color: #1A162E;
    margin-top: auto;

    
}

.item{
    &:first-child {
        .name{
            margin-top: 101px;
        }

        .ranking{
            margin-bottom: 57px;
        }

        .image{
            width: 462px;
            height: 462px;
        }
    }
    
    &:nth-child(2) {
        .name {
            margin-top: 43px;
        }

        .ranking {
            margin-bottom: 61px;
        }

        .image {
            width: 577px;
            height: 577px;
        }
    }

    &:last-child {
        .name {
            margin-top: 123px;
        }

        .ranking {
            margin-bottom: 55px;
        }

        .image {
            width: 413px;
            height: 413px;
        }
    }
}