.filters{
    background-color: #EAEAEA;
    display: flex;
    min-width: 1900px;
        max-width: 1920px;
    padding: 0 300px;
    height: 60px;
    align-items: center;
}

.recipes__select{
    width: 203px;
    height: 49px;
    font-size: 16px;
    padding: 15px 18px;
    border-radius: none;
    color: #1A162E;
    background-color: #CFCFCF;
    border: 1px solid #6B6B6B;
    cursor: pointer;

    &:nth-child(4){
        margin-right: 54px;
    }
}

.recipes__button{
    cursor: pointer;
    padding: 12px 25px;

    &:last-child{
        margin-left: 40px;
        border-radius: none;
    }
}

.recipes__container{
    width: 1920px;
    padding: 0 300px;
    padding-top: 105px;
    display: flex;
    gap: 29px;
    flex-wrap: wrap;
    padding-bottom: 84px;
    background-color: #fafafa;
}
